<a href="https://colab.research.google.com/github/MauricioConceicao123/World-Happiness-Report---Webscraping/blob/main/WebScra_Humandev.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [10]:

#site= requests.get(url).text
#table=soup.find_all('table')
#table

#url=f"https://www.theglobaleconomy.com/rankings/{}"
#soup=BeautifulSoup(url.text,"lxml")
#soup_countainer=soup.find_all('div', {'id':'countryLeftMenu'})

def scrap (i):
  url=f"https://www.theglobaleconomy.com/rankings/{i}"
  soupread=BeautifulSoup(url.content,"lxml")
  soup1=soupread.find_all('div', {'id':'countryLeftMenu'})
  for x in soup1:
    soup2=x.find_all('ul', {'id':'category_24'})
    

  #print(soup_countainer)

print(scrap, 'human development')

<function scrap at 0x7f1d9cc6db80> human development

In [26]:
url="https://www.theglobaleconomy.com/rankings/human_development/"
site= requests.get(url).text

bla=BeautifulSoup(site,"html.parser")

hd= bla.find_all('table', {'id':'benchmarkTable'})
pd.read_html(str(hd))[0]

#df=pd.DataFrame(hd.items(), columns=['Countries','GDP per Capita, PPP,2021', 'Global rank', 'Available data'])

#dfpd.DataFrame(hd.items(),columns=['Countries','rating'])
#table=bla.find_all('table')
#table

         Countries  Human development, 2021  Global rank Available data
0      Switzerland                    0.962            1    1980 - 2021
1           Norway                    0.961            2    1980 - 2021
2          Iceland                    0.959            3    1980 - 2021
3        Hong Kong                    0.952            4    1980 - 2021
4        Australia                    0.951            5    1980 - 2021
..             ...                      ...          ...            ...
179        Burundi                    0.426          180    1980 - 2021
180  C.A. Republic                    0.404          181    1980 - 2021
181          Niger                    0.400          182    1980 - 2021
182           Chad                    0.394          183    2000 - 2021
183   South Africa                    0.385          184    1980 - 2021

[184 rows x 4 columns]